In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
import os
import math

In [2]:
path = '/Users/jooyong/github_locals/Soccer_Player_Recommendation_Service/data/match_details(from_Transfermarket)/Premier_league_match_details/'
file_list = os.listdir(path)

Premier_matches = pd.DataFrame()
for file in file_list:

    filepath = path + file
    Premier_matches = pd.concat([Premier_matches, pd.read_json(filepath, lines=True)], axis=0)

In [3]:
match_general_info = pd.DataFrame(Premier_matches['match_general_info'].to_list())

In [4]:
team_details = pd.DataFrame(Premier_matches['team_details'].to_list())

In [5]:
team_details['home'] = team_details['home'].apply(lambda x: x['name'])
team_details['away'] = team_details['away'].apply(lambda x: x['name'])

In [6]:
def home_score(row):
    try:
        temp = row.split(':')
        home = int(temp[0])
    except:
        home = row
    return home
def away_score(row):
    try:
        temp = row.split(':')
        away = int(temp[1])
    except:
        away = row
    return away

match_general_info['home_score'] = match_general_info['score'].apply(lambda x: home_score(x))
match_general_info['away_score'] = match_general_info['score'].apply(lambda x: away_score(x))

match_general_info['date'] = pd.to_datetime(match_general_info['date'])
match_general_info['starttime'] = pd.to_datetime(match_general_info['starttime']).apply(lambda x: datetime.time(x))

In [7]:
match_gen_info_table = pd.concat([match_general_info, team_details], axis=1)

In [8]:
match_gen_info_table = match_gen_info_table.rename(columns={'home':'home_name', 'away':'away_name'}).drop(['score'], axis=1)

In [9]:
match_gen_info_table.head()

,day,date,starttime,stadium,attendance,referee,home_score,away_score,home_name,away_name
0,Sat,2010-08-14,13:45:00,White Hart Lane,35.928,Andre Marriner,0,0,Tottenham Hotspur,Manchester City
1,Sat,2010-08-14,16:00:00,Villa Park,36.604,Mike Dean,3,0,Aston Villa,West Ham United
2,Sat,2010-08-14,16:00:00,Ewood Park,25.869,Phil Dowd,1,0,Blackburn Rovers,Everton FC
3,Sat,2010-08-14,16:00:00,University of Bolton Stadium,20.352,Stuart Attwell,0,0,Bolton Wanderers,Fulham FC
4,Sat,2010-08-14,16:00:00,Stadium of Light,38.390,Anthony Taylor,2,2,Sunderland AFC,Birmingham City

In [13]:
def change_attendace_type(sample):

    if sample!=None:

        return sample.replace('.', '')
    
    else:

        return sample

In [14]:
match_gen_info_table['attendance'] = match_gen_info_table['attendance'].apply(lambda x: change_attendace_type(x))

In [16]:
match_gen_info_table.head()

,day,date,starttime,stadium,attendance,referee,home_score,away_score,home_name,away_name
0,Sat,2010-08-14,13:45:00,White Hart Lane,35928,Andre Marriner,0,0,Tottenham Hotspur,Manchester City
1,Sat,2010-08-14,16:00:00,Villa Park,36604,Mike Dean,3,0,Aston Villa,West Ham United
2,Sat,2010-08-14,16:00:00,Ewood Park,25869,Phil Dowd,1,0,Blackburn Rovers,Everton FC
3,Sat,2010-08-14,16:00:00,University of Bolton Stadium,20352,Stuart Attwell,0,0,Bolton Wanderers,Fulham FC
4,Sat,2010-08-14,16:00:00,Stadium of Light,38390,Anthony Taylor,2,2,Sunderland AFC,Birmingham City

In [19]:
import sqlalchemy

engine = sqlalchemy.create_engine('mysql+pymysql://root:LK15985261598lk??@localhost:3306/soccer_db')

In [20]:
match_gen_info_table.to_sql(name = 'match_general_info', con=engine, if_exists='replace', index=False,
                            dtype={'day': sqlalchemy.types.CHAR(3),
                                   'date': sqlalchemy.types.DATE(),
                                   'starttime': sqlalchemy.types.TIME(),
                                   'stadium': sqlalchemy.types.VARCHAR(45),
                                   'attendance': sqlalchemy.types.INTEGER(),
                                   'referee': sqlalchemy.types.VARCHAR(45),
                                   'home_score': sqlalchemy.types.INTEGER(),
                                   'away_score': sqlalchemy.types.INTEGER(),
                                   'home_name': sqlalchemy.types.VARCHAR(45),
                                   'away_name':sqlalchemy.types.VARCHAR(45)})

4975