In [84]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
import os
import math

In [85]:
path = '/Users/jooyong/github_locals/Soccer_Player_Recommendation_Service/data/match_details(from_Transfermarket)/Premier_league_match_details/'
file_list = os.listdir(path)

Premier_matches = pd.DataFrame()
for file in file_list:

    filepath = path + file
    Premier_matches = pd.concat([Premier_matches, pd.read_json(filepath, lines=True)], axis=0)

In [86]:
match_general_info = pd.DataFrame(Premier_matches['match_general_info'].to_list())

In [87]:
team_details = pd.DataFrame(Premier_matches['team_details'].to_list())

In [88]:
team_details['home'] = team_details['home'].apply(lambda x: x['name'])
team_details['away'] = team_details['away'].apply(lambda x: x['name'])

In [89]:
def home_score(row):
    try:
        temp = row.split(':')
        home = int(temp[0])
    except:
        home = row
    return home
def away_score(row):
    try:
        temp = row.split(':')
        away = int(temp[1])
    except:
        away = row
    return away

match_general_info['home_score'] = match_general_info['score'].apply(lambda x: home_score(x))
match_general_info['away_score'] = match_general_info['score'].apply(lambda x: away_score(x))

match_general_info['date'] = pd.to_datetime(match_general_info['date'])
match_general_info['starttime'] = pd.to_datetime(match_general_info['starttime']).apply(lambda x: datetime.time(x))

In [90]:
match_gen_info_table = pd.concat([match_general_info, team_details], axis=1)

In [91]:
match_gen_info_table = match_gen_info_table.rename(columns={'home':'home_name', 'away':'away_name'}).drop(['score'], axis=1)

In [103]:
match_gen_info_table['starttime'][0]

datetime.time(13, 45)

In [93]:
import mysql.connector

mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'LK15985261598lk??',
    database = 'soccer_db'
)

In [95]:
match_gen_info_table.to_sql('match_general_info', con=mydb, if_exists='append', index=False)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': Not all parameters were used in the SQL statement

In [109]:
import sqlalchemy

engine = sqlalchemy.create_engine('mysql+pymysql://root:LK15985261598lk??@localhost:3306/soccer_db')

In [110]:
match_gen_info_table.to_sql(name = 'match_general_info', con=engine, if_exists='append', index=False)

4975